/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

* {
    box-sizing: border-box;
}

.archivo-important {
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-300 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-400 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-500 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-600 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-link.archivo-700,
.archivo-700 {
    font-family: "Archivo", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-800 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-900 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header img {
    width: 25%;
    max-width: 350px;
}

header span {
    margin-right: 60px;
}

header button {
    background: black;
    color: #fff;
    border: none;
    padding: 12px 27px;
    border-radius: 7px;
}

header.black-header button {
    background: #FFD600;
    color: #000;
    border: none;
}


body {}

.padding-body {
    padding: 10px 30px;
    display: block;
}

.f-12 {
    font-size: 12px;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px;
}

.f-24 {
    font-size: 24px !important;
}

.f-26 {
    font-size: 26px !important;
}

.f-28 {
    font-size: 28px;
}

.f-30 {
    font-size: 30px;
}

.f-32 {
    font-size: 32px;
}

.f-33 {
    font-size: 33px;
}

.f-34 {
    font-size: 34px;
}

.f-35 {
    font-size: 35px;
}


.f-36 {
    font-size: 36px;
}

.f-40 {
    font-size: 40px;
}

.justify-content {
    text-align: justify;
}

.hide-desktop {
    display: none;
}

.pos-rel {
    position: relative;
}

#menu {
    position: fixed;
    top: 0;
    background: #fff;
    height: 100%;
    width: 60%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
    display: none;
    padding-left: 0;
}

#menu span {
    margin-top: 20px;
}

#menu button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 7px;
    margin-top: 20px;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

#menu.open {
    display: flex;
}

.backdrop.open {
    display: block;
}

header a,
#menu a {
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify;
}

header.black-header {
    background: #000;
    color: #fff;
}

.pt-6 {
    padding-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

.f-19 {
    font-size: 19px;
}

.f-20 {
    font-size: 20px !important;
}

.f-22 {
    font-size: 22px !important;
}

.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

footer {
    padding: 10px 30px;
}

.footer-info {
    text-align: justify;
}

.garcons-footer-img {
    width: 100%;
    padding: 10px 30px;
}

.footer-black {
    background: #000;
    color: #fff;
    margin: 0 -30px;
    display: flex;
    justify-content: space-between;
}

.footer-black div {
    width: 35%;
}

.footer-black div:first-of-type {
    width: 65%;
    border-right: 1px solid #D9D9D9;
}

.subscribe-container {
    border: 1px solid #D9D9D9;
}

.subscribe-container input {
    outline: none;
    width: 50%;
    background: transparent;
    color: #C7C5C5;
    border: none;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin: -1px;
}

.subscribe-container input:nth-of-type(2) {
    border-right: 0;
}

.subscribe-container input:hover {
    outline: none;
}

.subscribe-container input::placeholder {
    color: #C7C5C5;
}

.subscribe-container button {
    width: 100%;
    background: transparent;
    color: #fff;
}

.subscribe-container button:active {
    border: none;
}

.footer-black img {
    width: 30px;
}

.footer-info__links {
    display: flex;
}

.footer-black .footer-info__links div:first-of-type {
    border: none;
    width: 50%;
}

.footer-black .footer-info__links div {
    width: 50%;
}

.footer-info__links span {
    cursor: pointer;
    display: block;
    color: #C7C5C5;
}

.footer-info__links span a {
    color: inherit;
    text-decoration: none;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.service-cards {
    background: #F4F4F4;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.service-cards .card-body {
    background: #F4F4F4;
    border-radius: 0;
    padding: 10px 15px;
    width: 32%;
    border: 0;
    max-width: 32%;
}

.service-card {
    background: #FBFD5D;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #ABABAB40;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-card.purple {
    background: #D9CDFF;
}

.service-card.green {
    background: #95FFC5;
}

.service-card.brown {
    background: #FFD393;
}

.service-card.light-blue {
    background: #B8F2FF;
}

.service-card.salmon {
    background: #FFCBBF;
}

.service-card.bright-blue {
    background: #ACFFF6;
}

.service-card.pink {
    background: #FB97E1;
}

header.open {
    position: sticky;
    top: 0;
    z-index: 2;
}

#why-garcons .max-desktop-width {
    max-width: 520px;
}

header .selected {
    text-decoration: underline;
    color: #635BFF;
}

#why-garcons.mt-5 {
    margin-top: 110px !important;
}

.line-1 {
    position: relative;
    /* top: 50%; */
    width: auto;
    /* margin: 0 auto; */
    border-right: 2px solid rgba(255, 255, 255, .75);
    /* font-size: 180%; */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter.line-2{
    animation: typewriter2 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 185px;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 240px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@media (min-width:1375px) {
    #pricing-boxes {
        height: 800px;
    }
}

@media (max-width:786px) {
    .hide-desktop {
        display: block !important;
    }

    .hide-mobile {
        display: none !important;
    }

    header img {
        width: 50%;
    }

    header {
        margin-top: 20px;
        padding: 10px 15px;
    }

    #toggle-mobile-nav2 {
        width: 20px;
        margin-top: -25px;
    }

    .black-header #toggle-mobile-nav2 {
        -webkit-filter: invert(100%);
        margin-right: 0px;
    }

    .f-16-m {
        font-size: 16px !important;
    }

    .f-22-m {
        font-size: 22px;
    }

    header.black-header {
        margin-top: 0;
    }

    .pb-5.pb-4-m,
    .pb-4-m {
        padding-bottom: 1.5rem !important;
    }

    .footer-black {
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .footer-black div:first-of-type {
        width: 100%;
    }

    .footer-black div {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer-black .footer-info__links div:first-of-type {
        width: 100%;
    }

    .footer-black .footer-info__links div {
        width: 100%;
    }

    .footer-black .padding-footer-1 {
        padding: 40px 15px !important;
    }

    .footer-black .padding-footer-2 {
        padding: 0px 15px 40px !important;
    }


    .footer-black .padding-footer-2 .p-5 {
        padding: 0 !important;
    }

    .footer-black .footer-info__links .pt-5 {
        padding-top: 2rem !important;
    }

    footer {
        padding: 20px 15px;
    }

    .f-22-m {
        font-size: 22px;
    }

    .f-18-m {
        font-size: 18px;
    }

    .service-cards .card-body {
        background: #F4F4F4;
        border-radius: 0;
        padding: 2px 30px;
        width: 100%;
        border: 0;
        max-width: 100%;
    }

    #pricing-boxes.pt-3-m,
    .pt-3-m {
        padding-top: 0.5rem !important;
    }

    #how-we-work.pt-3-m {
        padding-bottom: 0.9rem !important;
        padding-top: 0.9rem !important;
    }

    .book-a-meeting-mobile {
        width: 100px;
        padding: 10px 7px;
        font-size: 11px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .f-19-m {
        font-size: 19px !important;
    }

    .f-20-m {
        font-size: 20px !important;
    }

    .f-14-m {
        font-size: 14px !important;
    }

    .f-12-m {
        font-size: 12px !important;
    }

    .f-26-m {
        font-size: 26px !important;
    }

    .f-28-m {
        font-size: 28px !important;
    }

    .f-30-m {
        font-size: 30px !important;
    }

    #why-garcons .pt-0-m,
    #step-1 .pt-0-m,
    .pt-0-m {
        padding-top: 0 !important;
    }

    #collapseExample .pt-2-m,
    .pt-2-m {
        padding-top: 0.7rem !important;
    }

    .pt-4-m {
        padding-top: 1.5rem !important;
    }

    #why-garcons.mt-5 {
        margin-top: 40px !important;
    }

    .archivo-800-m {
        font-weight: 800 !important;
    }

    .archivo-700-m {
        font-weight: 700 !important;
    }

    #step-2 .mt-3-m,
    #step-3 .mt-3-m,
    #step-4 .mt-3-m {
        margin-top: 40px !important;
    }

    #step-2 .mt-2-m,
    #step-3 .mt-2-m,
    #step-4 .mt-2-m {
        margin-top: 8px !important;
    }


    #work-examples .mt-2-m {
        margin-top: 8px !important;
    }

    .mt-3-m {
        margin-top: 1.5rem !important;
    }


    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 127px;
        }
    }

    @keyframes typewriter2 {
        from {
            width: 0;
        }
    
        to {
            width: 180px;
        }
    }

    #work-examples .pt-5 {
        padding-top: 1.2rem !important;
    }

    .f-34-m {
        font-size: 34px !important;
    }

    .garcons-footer-img {
        padding: 10px 10px;
    }

    #step-2 video,
    #step-3 video,
    #step-4 video {
        margin-left: -15px;
    }

    #about-us.pt-2-m{
        padding-top: 1rem !important;
    }
}