/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.archivo-300 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-400 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-500 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-600 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-700 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-800 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.archivo-900 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header img {
    width: 25%;
    max-width: 350px;
}

header span {
    margin-right: 30px;
}

header button {
    background: black;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 7px;
}


body {
    
}
.padding-body{
    padding: 10px 30px;
    display: block;
}

.f-18{
    font-size: 18px;
}
.f-33{
    font-size: 33px;
}
.f-36{
    font-size: 36px;
}
.justify-content{
    text-align: justify;
}