.about-us {
    line-height: 42px;
    display: flex;
}

.do-it-right {
    display: inline-block;
}

.step-1 img {
    width: 100%;
    box-shadow: 1px 1px 8px #7b7878c9;
    border-radius: 10px;
}

.trusted-teams img {
    width: 100%;
}

#step-2 {
    background: #FBFD5D;
}

.steps-container {
    padding: 50px 0 0 40px;
    min-height: 200px;
    display: inline-block;
}

.steps-flex {
    display: flex;
    justify-content: space-between;
}

#step-3 .steps-flex {
    justify-content: flex-start;
}

#step-3 .pl-step-3{
    margin-left: 5%;
}

.steps-flex img {
    width: 60%;
}

.steps-border-bottom {
    border-top: 1px solid #a6a66991;
    padding-bottom: 30px;
}

#step-4 .steps-border-bottom {

    border-top: 1px solid #437741;
}


.steps-flex p {
    max-width: 275px;
    text-align: justify;
}

.steps-flex button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 7px;
    /* margin: auto; */
    display: flex;
}


#step-3 {
    background: #C8B8FF;
    margin-bottom: -7px;
}

.sc-left .steps-flex p {
    max-width: 275px;
    margin-right: 80px;
}

.sc-left .steps-flex img,
.sc-left .steps-flex video {
    margin-left: -50px;
}

.sc-left.steps-container {
    padding: 50px 40px 0;
}

#step-4 {
    background: #15A958;
}

#work-examples button,
#why-garcons button,
#create-web-designs button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 7px;
}

#create-web-designs button {
    padding: 10px 30px;
}

#why-garcons {
    background: #FFC470;
}

#why-garcons .flex-items {
    display: flex;
    justify-content: space-between;
}

#why-garcons .flex-items div {
    width: 30%;
}

#why-garcons .flex-items img {
    width: 100%;
}

#why-garcons .flex-items p {
    max-width: 75%;
    min-width: 250px;
}

#create-web-designs {
    background: #80CAFF;
    display: flex;
    justify-content: space-between;
}

#create-web-designs div {
    width: 35%;
    padding-top: 10%;
}

#create-web-designs img {
    width: 50%;
}

#create-web-designs p {
    text-align: justify;
    max-width: 300px;
}

#create-web-designs.padding-body {
    padding: 10px 0 10px 30px;

}

#pricing-boxes {
    background: url(./assets/images/pricing-bg.png);
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#pricing-boxes .main-box {
    width: 49%;
    box-shadow: 4px 2px 4px 0px #A1A0A040;
    height: 50%;
    min-height: 400px;
    max-height: 600px;
    border-radius: 10px;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
}

#pricing-boxes .white-box {
    background: #fff;
}

#pricing-boxes .box2 {
    width: 48%;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 12%; */
    justify-content: center;
}

#pricing-boxes .blue-box .box2 {
    /* padding-top: 18%; */
}

#pricing-boxes .box2 p {
    text-align: center;
    color: #5D6E81;
}

#pricing-boxes .blue-box .box2 p {
    color: #B5C8DE;
}

#pricing-boxes .white-box .grey-box {
    background: #F7F9FC;
}

#pricing-boxes .blue-box .light-blue-box {
    background: #1F4468;
}

#pricing-boxes .empty-box {
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px 40px;
}

.start-up-info p {
    color: #5D6E81;
    text-align: justify;
    max-width: 250px;
}

.blue-box .start-up-info p {
    color: #ADBCCC;
}

.empty-box button {
    background: #635BFF;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    color: #fff;
    box-shadow: 4px 2px 4px 0px #A1A0A040;
}

.blue-box .empty-box button {
    background: #26D9FE;
    color: #000;
}

#pricing-boxes .blue-box {
    background: #0D2E4E;
    color: #fff;
}

#faq #accordion {
    width: 60%;
    min-width: 600px;
    max-width: 900px;
    margin: auto;
}

#faq #accordion .card {
    border: none;
    border-bottom: 2px solid;
    border-radius: 0;
    background: inherit;
}

#faq #accordion .card-header {
    border: none;
    background: none;
    padding-left: 0;
    margin-left: -15px;
}

#faq #accordion .btn-link {
    padding-left: 0;
    text-decoration: none;
    color: #000;
    display: flex;
}

#faq .collapsed .arrow {
    transform: rotate(0);
    /* transition-delay: 0.5s; */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#faq .arrow {
    height: 30px;
    transform: rotate(90deg);
    /* transition-delay: 0.5s; */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

#faq .card-body {
    color: #5D6E81;
    padding-left: 45px;
    margin-right: 15%;
    margin-top: -20px;
}

#about-us.black-bg {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    border: none;
}

#about-us video {
    display: flex;
    max-width: 530px;
    width: 100%;
    margin-right: -40px !important;
    margin-bottom: -10px;
}

#how-we-work {
    background: #000;
    color: #fff;
}

.step-1-info {
    display: flex;
    /* justify-content: space-between; */
}

.step-1-info__details {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 275px;
    margin-left: 5%;
    text-align: justify;
}

.step-1-info__details button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 7px;
    /* margin: auto; */
    display: flex;
}

#work-examples img {
    width: 100%;
}

.work-emaples-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grey-body,
header.grey-body {
    background: #F7F9FC;
}

.grey-bg-step1 {
    background: #F8F8F8;
}

.step-1-info video {
    margin-left: -40px;
}

#work-examples p {
    max-width: 525px;
    margin: auto;
}

#faq {
    color: #000;
}

#work-examples .icon {
    height: 35px;
    width: auto;
    cursor: pointer;
}

#work-examples .icon.icon-right {
    transform: rotate(180deg);
    padding-right: 25px;
}

#work-examples .icons {
    display: flex;
    justify-content: center;
}

.hide {
    display: none !important;
}

#work-examples video {
    max-width: 1000px;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

#collapseExample {
    z-index: 1;
    position: sticky;
}

#collapseExample.pb-5 {
    padding-bottom: 10rem !important;
}

.trusted-teams h1 {
    padding-top: 4.6rem !important;
    padding-bottom: 2rem !important;
}

@media (max-width:1100px) {
    #pricing-boxes .main-box {
        height: 80%;
        min-height: 480px;
        max-height: 700px;
    }
}

@media (max-width:786px) {
    #why-garcons .flex-items p {
        min-width: auto;
    }

    .about-us {
        line-height: 25px;
        flex-direction: column;
    }

    .padding-body {
        padding: 10px 15px;
    }

    .steps-flex {
        flex-direction: column;
    }

    .black-button {
        background: black;
        color: #fff;
        border: none;
        padding: 10px 30px;
        border-radius: 7px;
        /* margin: auto; */
        display: flex;
    }

    .steps-container {
        padding: 10px 0 0 15px;
    }

    .steps-border-bottom {
        padding-left: 15px;
    }

    .steps-flex img {
        width: 110%;
        margin-left: -20px;
    }

    .sc-left.steps-container {
        padding: 10px 0 0 15px;
    }

    #work-examples p,
    #create-web-designs .max-85-width {
        max-width: 85%;
        margin: 0;
    }
    #why-garcons .max-85-width{
        max-width: 75%;
        margin: 0;
    }

    .sc-left .steps-flex img {
        /* margin-left: 0; */
        margin-left: -20px;
    }

    #why-garcons .flex-items {
        flex-direction: column;
    }

    #why-garcons .flex-items div {
        width: 100%;
    }

    #create-web-designs {
        flex-direction: column;
        align-items: center;
    }

    #create-web-designs div {
        width: 100%;
        padding-top: 2%;
    }

    #create-web-designs img,
    #create-web-designs video {
        width: 100%;
    }

    #create-web-designs.padding-body {
        padding: 10px 15px 10px 15px;
    }

    #faq #accordion {
        width: 84%;
        min-width: 0;
        padding: 0 16px;
    }

    #faq #accordion .card-header {
        padding-right: 0;
    }

    #faq .arrow {
        height: 24px;
    }

    #faq .card-body {
        margin-right: 0;
        padding-left: 30px;
    }

    #pricing-boxes {
        flex-direction: column;
        height: auto;
    }

    #pricing-boxes .main-box {
        width: 100%;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .empty-box button {
        padding: 10px 32px;
    }

    #pricing-boxes .box2 p {
        /* padding: 0 5px; */
    }

    #about-us video {
        margin: -30px auto -10px;
        width: 75%;
        margin-right: -50px !important;
    }

    .step-1-info {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .step-1-info video {
        width: 110%;
        margin-left: -20px;
    }

    .mt-4-m {
        margin-top: 1.5rem;
    }

    .step-1-info__details {
        width: 100%;
        margin-left: 0;
    }

    #pricing-boxes .empty-box {
        width: 100%;
    }

    #pricing-boxes .box2 {
        width: 100%;
        padding-top: 12%;
        padding-bottom: 10%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .start-up-info p {
        max-width: 275px;
    }

    #pricing-boxes .blue-box .box2 {
        padding-top: 12%;
        padding-bottom: 10%;
    }

    .pb-0-m,
    #trusted-teams.pb-0-m {
        padding-bottom: 0 !important;
    }

    #step-3 {
        margin-bottom: 0;
        background: #bfaffe;
    }

    #step-4 {
        /* background: #10A958; */
        background: #15A958;
    }

    #work-examples video {
        max-width: none;
        margin: auto;
        display: flex;
        border-radius: 0;
        margin-left: -15px;
        margin-right: -15px;
        width: 108.5%;
    }

    .do-it-right {
        line-height: 30px;
    }

    #step-4 .pt-5-m {
        padding-top: 5rem !important;
    }

    #work-examples .icon {
        height: 27px;
    }

    #collapseExample.pb-5 {
        padding-bottom: 4rem !important;
    }
    #step-3 .pl-step-3{
        margin-left: 0;
    }
    #work-examples .icons {
        /* justify-content: flex-end; */
    }
    #step-2 {
        margin-top: -25px;
    }
    #create-web-designs p{
        padding-bottom: 3rem ;
    }
}